.pantone-326-bg {
    background-color: rgb(000, 175, 170) !important;
}

.pantone-325-bg {
    background-color: rgb(098, 203, 201) !important;
}

.pantone-3165-bg {
    background-color: rgb(000, 078, 89) !important;
}

.pantone-3165-color {
    color: rgb(000, 078, 89) !important;
}

.pantone-7408-color {
    color: rgb(247, 190, 000) !important;
}

.bg-white a{
    color: black !important;
}

.badge-orange{
    background-color: rgb(255, 140, 0) !important;
}

.badge-strongBlue{
    background-color: rgb(42, 82, 190) !important;
}