
/* Aparecer elementos progresivamente */
.fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
