
api/log.txt
api/log.txt
*.txt
api/log.txt
api/log.txt
archivos/sistema/temp/qr/cliente/Particular.png
api/log.txt
archivos/reportes/IMAGENOLOGIA/56/56_354_INTERPRETACION_0.pdf
archivos/reportes/RAYOS X/56/56_360_INTERPRETACION_0.pdf
archivos/reportes/IMAGENOLOGIA/56/56_358_INTERPRETACION_0.pdf
archivos/reportes/RAYOS X/56/56_360_CAPTURA_0.pdf
archivos/reportes/RAYOS X/56/56_360_CAPTURA_1.png
archivos/reportes/RAYOS X/56/56_360_CAPTURA_2.png
*.png
*.pdf
