
log.txt
*.pdf
*.txt
archivos/sistema/json/turnero_optimizador.json
!estructura receta bimo.pdf
clases/credenciales_access/database_connect.php
clases/credenciales_access/email_connect.php
api/archivos/splittedSql
api/archivos/sql
api/log.txt
.idea
.idea/*.xml
.idea/*.iml
vista/menu/administracion/modals/user_agregar_usuario.html~
*~
api/log.txt~
*/*.~
core/services/SEE/logs/*.log
/core/services/SEE/logs/*.log