
log.txt
*.pdf
*.txt
archivos/sistema/json/turnero_optimizador.json
!estructura receta bimo.pdf
clases/credenciales_access/database_connect.php
clases/credenciales_access/email_connect.php
api/archivos/splittedSql
api/archivos/sql
api/log.txt
.idea/*.xml
.idea/*.iml
.idea/inspectionProfiles/*.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/misc.xml
.idea/dictionaries/*.dic
.idea/dictionaries/*.aff
.idea/inspectionProfiles