.logoSigma {
  width: 200px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.tittleBoldCenteredBgG {
  text-align: center;
  font-weight: bold;
  background-color: darkgray;
}

.tittleCentered {
  text-align: center;
}

.imgc {
  display: block;
  margin: auto;
  width: 649px;
  height: auto;
}

.spaceBw {
  text-align: center;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  font-size: 8px;
  font-family: Onest Variable, system-ui, sans-serif;
}

.tableS {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

tdS {
  padding: 2px;
  font-size: 8px;
  border: 1px solid #ddd;
  word-wrap: break-word;
  vertical-align: top;
}

thS {
  padding: 2px;
  font-size: 8px;
  border: 1px solid #ddd;
  word-wrap: break-word;
  vertical-align: top;
}

.imgc {
  display: block;
  margin: auto;
  width: 650px;
  height: auto;
}
