.bg-festividad{
    position: absolute;
    inset: 0;
    background: rgba(210, 6, 59, .7);
    background: linear-gradient(135deg, rgba(216, 43, 216, 0.32), rgba(210, 6, 59, .7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 60;
}
.bg-festividad .content{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#canvas-flower-right-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
#canvas-flower-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}
#canvas-flower-left-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
#canvas-flower-left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.card-message {
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 999;
}

.message{
    position: relative;
    width: 90%;
    z-index: 999;
}

#canvas-floral-border {
    width: 100%;
    height: 100%;
}

#canvas-mother{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.message-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2.5rem;
    color: #ddc6c6;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    font-weight: bold;
    text-align: center;
}

.message-wrapper {
    position: absolute;
    overflow: hidden;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.message-text span {
    display: inline-block;
    user-select: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: hotpink;
    width: 0%;
    z-index: 9999;
    transition: width 9s linear;
}
