/*=============[PAGE]=============*/
@page{
    margin: 180px 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: -70px;
    margin-bottom: -80px;
    font-size: 10px;
}

header {
    position: fixed;
    top: -150px;
    left: 25px;
    right: 25px;
    height: 220px;
    margin-top: 0;
}

main {
    border-radius: 4px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: justify;
    text-justify: inter-word;
}
/*=============[FIN]=============*/

/*=============[MAIN]=============*/
table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    white-space: nowrap;
}
table td,
table th,
table { border-collapse: collapse; }

.tb-estado-cuenta thead tr th,
.tb-estado-cuenta tbody tr td{
    word-wrap: break-word;
    white-space: normal;
    padding: 5px;
    margin: 0;
    border: 1px solid #0c0c0c;
    text-align: center;
}
.tb-estado-cuenta thead tr th{
    font-weight: bold;
    font-size: 12px;
    background: #e4e4e4;
    padding: 8px !important;
}

.tb-estado-cuenta tbody tr.resultado td:nth-child(2){
    font-weight: bold;
    font-size: 12px;
    background: #e4e4e4;
    text-align: left;
}
.tb-estado-cuenta tbody tr td:nth-child(3),
.tb-estado-cuenta tbody tr td:nth-child(1),
.tb-estado-cuenta tbody tr td:nth-child(2)
{
    max-width: 130px;
}
.tb-estado-cuenta tbody tr td:nth-child(5),
.tb-estado-cuenta tbody tr td:nth-child(6),
.tb-estado-cuenta tbody tr td:nth-child(7),
.tb-estado-cuenta tbody tr td:nth-child(8),
.tb-estado-cuenta tbody tr td:nth-child(9){
    min-width: 70px;
}

.tb-estado-cuenta tbody tr td:nth-child(11){
    min-width: 60px;
}

.tb-estado-cuenta tbody tr.salto_linea td.space-white,
.tb-estado-cuenta tbody tr.resultado td.space-white{
    border: none !important;
}
.tb-estado-cuenta tbody tr.salto_linea td{
    height: 10px !important;
}
/*=============[FIN]=============*/

/*=============[FOOTER]=============*/
footer {
    position: fixed;
    bottom: -200px;
    height: 80px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}
footer .page:after { content: counter(page); }
.page-number{ margin-top: 10px; }
.break { page-break-after: always; }
/*=============[FIN]=============*/

/*=============[HEADER]=============*/
.header table thead tr.titulo{
    position: relative;
    font-size: 18px;
}
.header table thead tr.subtitle th {
    font-size: 13px;
    font-weight: normal;
    padding: 10px !important;
}
.header table thead tr.titulo .float-logo{
    position: absolute;
    top: 10px;
    left: 30px;
    bottom: 0;
    right: 0;
    margin: auto;
}
/*=============[FIN]=============*/
.minMaxContent{
    min-width: max-content !important;
    width: max-content !important;
}